.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 220px);
  grid-template-rows: repeat(2, 220px);
  gap: 10px;
  position: relative;
  width: 450px;
  height: 450px;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
}

.grid-cell {
  width: 220px;
  height: 220px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

.weather-widget {
  position: relative;
}

.weather-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.bi-sun {
  color: yellow;
}